.Q{
    color: rgb(3, 3, 3);
    font-size: 50px;
    font-family: "Playwrite IT Trad", cursive;
}
button{

    color: aliceblue; 
    background-color: black;
    border-radius: 6px;
    
}